services:
  redis:
    image: redis:8.4
    container_name: redis
    ports:
      - "6379:6379"
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
  adminer:
    image: adminer:5.4.1-standalone
    container_name: adminer
    ports:
      - "18080:8080"